<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>CSRuby</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "csruby_frontend_app/css/main.css" %}">
  <link rel="icon" type="image/png" href="{% static "csruby_frontend_app/logo/csruby_logo.png" %}" sites="32x32">
</head>
<body class="csruby-bg-darker">
  <div id="root">

  </div>
</body>
{% load static %}
<script src="{% static "csruby_frontend_app/main.js" %}"></script>
<script src="https://kit.fontawesome.com/9a3beb9176.js" crossorigin="anonymous"></script>
</html>
