.csruby-bg-red {
  background-color: #d63031 !important;
}

.csruby-bg-darker {
  background-color: #252a2e !important;
}

.csruby-bg-darkest {
  background-color: #181c1f !important;
}

.csruby-height-100 {
  height: 100% !important;
}

.csruby-rarity-COG {
  color: #b0c3d9 !important;
}

.csruby-rarity-ING {
  color: #5e98d9 !important;
}

.csruby-rarity-MIS {
  color: #4b69ff !important;
}

.csruby-rarity-RST {
  color: #8847ff !important;
}

.csruby-rarity-CLA {
  color: #d32ee6 !important;
}

.csruby-rarity-COV {
  color: #eb4b4b !important;
}

.csruby-rarity-EXR {
  color: #ffcc00 !important;
}

.csruby-rarity-CON {
  color: #ffae39 !important;
}

.csruby-rarity-RES {
  color: #8847ff !important;
}

.csruby-rarity-HGS {
  color: #4b69ff !important;
}

.csruby-rarity-EXS {
  color: #eb4b4b !important;
}

.csruby-rarity-EXG {
  color: #eb4b4b;
}
