.csruby-bg-red {
  background-color: #d63031 !important;
}

.csruby-bg-darker {
  background-color: #252a2e !important;
}

.csruby-bg-darkest {
  background-color: #181c1f !important;
}

.csruby-height-100 {
  height: 100% !important;
}
